 *{
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  background: url('../image/Desktop/Images/Hero\ Image.png') no-repeat
  center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 130px;
  margin-top: 20px;
}


.logo {
  background: url('../image/Haap\ Logo\ -\ Coloured.svg');
  width: 110px;
  height: 46px;
 }
 
 .top_bar__content {
   display: flex;
   align-items: center;
 }
  

.current {
font-family: 'Nunito', sans-serif;
padding: 15px 10px;
color:#265E84;
font-size: 20px;
text-decoration: none;
padding-right: 30px;
} 


.info{
font-family: 'Nunito', sans-serif;
background-color: #265E84;
border-radius: 10px;
padding: 15px;
color: #fff;
font-size: 15px;
text-decoration: none;
margin-right: 60px;
} 

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.content h1 {
  color : #17394F;
  font-family: 'PT Serif', serif;
  font-size: 53px;
  font-weight: lighter;
  text-align: center;
  width: 634px;
} 


.content p {
  color : #17394F;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  width: 532px;
}


.btn {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 16px;
  padding: 20px;
  margin-top: 48px;
  background-color: #265E84;
  border-radius: 15px;
  text-decoration: none;
}

.works {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
background: #FEFBF3;
border-radius: 0px 0px 0px 306px;
}


#text_works {
 color: #17394F;
 font-family: 'Nunito', sans-serif;
 font-weight: 700px;
 font-size: 14px;
 line-height: 21px;
 padding-top: 87px;
}

#p_works {
font-size: 36px;
font-family: PT Serif;
text-align: center;
color: #17394F;
padding-top: 50px;
}

.hint{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 80px;
  padding-bottom: 100px;
}

.icon-1 img {
  padding-left: 95px;
}

.icon-2 img{
  padding-left: 95px;
}
.icon-3 img{
  padding-left: 95px;
}
.icon-4 img{
  padding-left: 95px;
}

.steps{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

#n-heading {
  color: #17394F;
  font-family: 'PT Serif';
  text-align: center;
  font-size: 24px;
  line-height: 33.6px;
  font-style: normal;
  font-weight: normal;
 }

 #n-sub-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Nunito';
  text-align: center;
  color: #17394F;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
  position: static;
  width: 240px;
  height: 81px;
  left: 0px;
  top: 78px;
  }

.box-1 {
position: absolute;
width: 240px;
height: 219px;
left: 120px;
top: 800px;
margin-top: 320px;
  }

.box-2 {
position: absolute;
width: 240px;
height: 239px;
left: 440px;
top: 800px;
margin-top: 320px;
  }

.box-3 {
position: absolute;
width: 240px;
height: 246px;
left: 760px;
top: 800px;
margin-top: 320px;
}

.box-4 {
position: absolute;
width: 240px;
height: 219px;
left: 1080px;
top: 800px;
margin-top: 320px;
} 

.icon-1{
margin-left: 0;
display: inline-block;
padding-left: 100px;
}

.icon-2{
  margin-left: 0;
  display: inline-block;
  padding-left: 100px;
}

.icon-3{
  margin-left: 0;
  display: inline-block;
  padding-left: 100px;
  }

.icon-4{
  margin-left: 0;
  display: inline-block;
  padding-left: 100px;
 }

.article{
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.savings {
 line-height: 30px;
 font-size: 20px;
 font-weight: normal;
 margin-top: 88px;
} 

.savings_h1{
  color: #17394F;
  Font-family:'Serif';
  Font-size: 36px;
  font-weight: normal;
  Line-height: 47px;
  padding-left: 71px;
   } 

.savings_p{
  color: #17394F;
  font-family: 'nunito';
  font-size: 18px;
  line-height: 45px;
  text-align: center;
}   

 #F img{
  width: 78px;
  align-items: center;
  display: inline-block;
  margin-top: 24px;
  margin-left: 20px;
 }

table {
  position: relative;
  margin-top: 75px;
  border-collapse: collapse;
  z-index: 1;
}

.article-table {
  position: relative;
}

tbody{
  margin-left: 950px;
}


td {
  font-family: 'nunito';
  color: #1D4A67;
  border-bottom: 1px solid #cecfd5;
  padding: 14px 53px 26px 60px;
}

#T{
  font-weight: bold;
}

tr:last-child td {
  border-bottom: 0;
}

.item{
  height: 91%;
  width: 251px;
  background-color: #F1F9FE;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 24px;
  border-top-left-radius: 8px;
  position: absolute;
  top: 85px;
  left: 246px;
  z-index: 0;
}  


.I {
 color: #1D4A67;
 font-family: 'Nunito';
 text-align: center;
 line-height: 30px;
 font-size: 20px;
 font-weight: normal;
  margin-top: 5rem;
 display: flex;
 justify-content: center;
}

.Design{
  height: 100%;
  background-color: #F1F9FE;
  border-top-left-radius: 306px;
  display: flex;
  margin-top: 250px;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
} 

.design_structure{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  gap: 50px;
}

#structure {
  margin-top: 150px;
}

.Design img{
  width: 734px;
  margin-top: 115px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}  

#text-H {
color: #17394F;
font-family: 'Serif';
font-size: 36px;
font-style: normal;
font-weight: normal;
line-height: 38.6px;
padding-bottom: 30px;
}

#text-P{
color: #17394F;
font-family: 'Nunito';
font-weight: normal;
font-size: 18px;
line-height: 27px;
} 

.Things{
 display: grid;
 grid-template-columns:1fr 1fr 1fr;
 gap: 60px;
 margin: 90px 50px 0px 55px;
}

.Things img{
  width: 30px;
  display: inline-block;
  margin-top: 0px;
} 

.Things h2{
color: #17394F;
font-family: 'Serif';
font-size: 24px;
font-style: normal;
font-weight: normal;
line-height: 38.6px;
padding-bottom: 12px;
}

.Things p{
  color: #17394F;
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}  

.button {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 16px;
  padding: 20px;
  margin-top: 48px;
  background-color: #265E84;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 80px;
}

.on{
  display: flex;
  justify-content: center;
}

/* #Co{
  display: flex;
  text-align: center;
  justify-content: center;
} */

.co {
  align-self: center;
  margin-top: 120px;
}

#Co{
font-family: 'Serif';
font-size: 36px;
font-style: normal;
font-weight: normal;
line-height: 47px;
color: #17394F;
} 

.community {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacing {
  display: flex;
  justify-content: space-between;
}

.com-box {
  /* display: inline-block; */
  height: 586px;
  width: 645px;
  background-color: #FEFBF3;
  margin-top: 80px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 104px; 
  border-bottom-left-radius: 8px;
}

.com-box img {
  height: 441px;
  width: 676px;
  margin: 65px 0px 25px 98px;
  /* display: flex;
  flex-direction: row-reverse; */
}

.core {
  display: flex;
  flex-direction: column;
  padding-left: 190px;
} 

.com-box1{
  padding-top: 45px;
}

.com-box2{
  padding-top: 45px;
}
.com-box3{
  padding-top: 45px;
}

.core img {
  width: 60px;
  height: 40px;
}

.core h3{
 font-size: 24px;
 font-weight: normal;
 font-family: 'Serif';
 color:#17394F;
 line-height: 44px;
}

.core p{
  color: #17394F;
  Font-family: 'Nunito';
  font-size: 18px;
  line-height: 27px;
}

.FAQ{
  height: 663px;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#A{
  color: #17394F;
  font-size: 36px;
  font-weight: normal;
  margin-top: 140px;
}

.B {
  color: #17394F;
  font-family: 'Serif';
  font-size: 19px;
  font-weight: normal;
  line-height: 55px;
}

.column {
  display: flex;
  flex-direction: column;
}

.what {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.Span__co {
  margin-left: 324px;
  margin-right: 324px;
}



#K img{
width: 28.33px;
height: 48.33px;
padding-top: 17px;
display: inline;
float: right;
}

span {
  color: #17394F;
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  margin-top: 10px;
  /* border-bottom: 1px solid #DEE7ED; */
  padding-top: 10px;
  padding-bottom: 18px;
}  

.mates{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr{
  height: 1px;
  border: none;
  background-color: #DEE7ED;
}

.B img{
  display: inline-flex;
}

#H {
  color: #17394F;
  font-family: 'Nunito';
  font-size: 19px;
  font-weight: normal;
  line-height: px;
  margin-top: 10px;
  border-bottom: 1px solid #DEE7ED;
  padding-top: 18px;
  padding-bottom: 18px;
}

#H1 {
  color: #17394F;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #DEE7ED;
  padding-bottom: 20px;
}

/* #K1{
  width: 28.33px;
  height: 48.33px;
  display: inline;
  margin-left: 595px;
  } */

#H1 img {
  display: inline-block; 
  float: right;
}

#H2{
  color: #17394F;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #DEE7ED;
  padding-bottom: 20px;
}

#K2{
  width: 28.33px;
  height: 48.33px;
  display: inline;
  margin-left: 595px;
}

#H2 img {
  float: right;
}

#H3{
  color: #17394F;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #DEE7ED;
  padding-bottom: 20px;
}

#K3{
  width: 28.33px;
  height: 48.33px;
  display: inline;
  margin-left: 595px;
}

#H3 img {
  float: right;
}

#H4{
  color: #17394F;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #DEE7ED;
  padding-bottom: 20px;
}

#K4{
  width: 28.33px;
  height: 48.33px;
  display: inline;
  margin-left: 595px;
 }
 
#H4 img {
  float: right;
}

#H5{
  color: #17394F;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #DEE7ED;
  padding-bottom: 20px;
}

#K5{
  width: 28.33px;
  height: 48.33px;
  display: inline;
  margin-left: 595px;
 }
 
#H5 img {
  float: right;
} 


.FAQ h2 {
  color: #17394F;
  font-size: 20px;
  line-height: 28px;
  padding-top: 14px;
  font-weight: normal;
 
} 


.waitlist{
  margin-top: 80px;
  height: 150px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #FEFBF3;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 40px;
  border-top-left-radius: 8px;  
  border-bottom-left-radius: 104px;
  border: 2.5px solid #265E84;
  color: #17394F;
}

.waitlist_h2{
  font-family: 'Serif';
  display: flex;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 47px;
}

.waitlist_p{
  font-family: 'Nunito';
  font-size: 20px;
  line-height: 57px;
  display: flex;
  text-align: center;
}


.R-button {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 186px;
  height: 22px;
  padding: 20px;
  background-color: #265E84;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 310px;
}

footer {
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  align-items: center;
  width: 94px;
  height: 36px;
  margin-top: 120px;
}

footer p{
font-family: 'Nunito';
font-size: 16px;
font-weight: normal;
line-height: 24px;
color: #17394F;
}

 @media screen and (min-width: 360px) and (max-width: 800px) { 
.container {
  background: url('../image/Desktop/Images/Hero\ Image.png') no-repeat
  center center cover;
  height: 100vh;
}   


#navbar .logo {
  background: url('../image/Haap\ Logo\ -\ Coloured.svg');
  align-items: center;
 } 

 
 .content h1 {
  color : #17394F;
  font-family: 'PT Serif', serif;
  font-size: 53px;
  font-weight: lighter;
  text-align: center;
  width: 352px;
} 

.content p {
  color : #17394F;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  width: 318px;
}
.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 32px;
}

.works {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FEFBF3;
  padding: 72px 0px;
  border-radius: 0px 0px 0px 124px;
}

.info{
  font-family: 'Nunito', sans-serif;
  background-color: #265E84;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  margin-right: 60px;
  display: none;
  } 

.hint{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text_works {
  color: #17394F;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  padding-top: 23px;
 }
 
#p_works {
 font-size: 36px;
 font-family: PT Serif;
 text-align: center;
 line-height: 40.5px;
 color: #17394F;
 width: 327px;
 display: flex;
 padding-top: 3px;
 }

#n-heading {
color: #17394F;
font-family: 'PT Serif';
text-align: center;
font-size: 24px;
line-height: 33.6px;
font-style: normal;
font-weight: normal;
margin-left: -100px;
 }

 #n-sub-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Nunito';
  text-align: center;
  color: #17394F;
  margin-left: -69px;
}
.icon-1 img {
  margin-left: -59px;
}

.icon-2 img{
  margin-left: -59px;
}
.icon-3 img{
  margin-left: -59px;
}
.icon-4 img{
  margin-left: -59px;
}


.icon-2 {
  padding-top: 40px;
}

.icon-3 {
  padding-top: 90px;
}

.icon-4 {
  padding-top: 75px;
}
 
.steps{
  height: 1400px;
  display: flex;
  flex-direction: column;
}



.article{
  font-family: 'Nunito';
  background: #FFFFFF;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   }

.article h1{
  color: #17394F;
  Font-family:'Serif';
  Font-size: 28px;
  font-weight: normal;
  Line-height: 39.2px;
  padding-top: 100px;
   } 

.article p{
  color: #17394F;
  font-family: 'nunito';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

 #F img{
   margin-left: -8px;
  width: 78px;
  align-items: center;
  display: inline-block;
 }



table {
  margin-top: 30px;
  border-collapse: collapse;
  position: relative;
  width: 384px; 
  z-index: 1;
}

tbody{
  margin-left: 950px;
}


td {
  font-family: 'nunito';
  color: #1D4A67;
  border-bottom: 1px solid #cecfd5;
  padding: 12px 22px 17px 8px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  
}
#T{
  font-weight: bold;
}

tr:last-child td {
  border-bottom: 0;
}

.item{                                                                    
  display: inline-flex;
  margin-right: 120px;
  height: 655px;
  width: 119px;
  background-color: #F1F9FE;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 24px;
  border-top-left-radius: 8px;
  border-start-end-radius: 1px;
  position: absolute;
  top: 3rem;
  left: 95px;
  z-index: 0;
}  

h5{
font-family: 'Nunito';
font-size: 10px;
font-style: normal;
font-weight: 400px;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
}




.I {
 color: #1D4A67;
 font-family: 'Nunito';
 text-align: center;
 line-height: 30px;
 font-size: 20px;
 font-weight: normal;
  margin-top: 5rem;
 display: flex;
 justify-content: center;
}

.Design {
  margin-top: 3rem;
  display: flex;
  background-color: #F1F9FE;
  border-top-left-radius: 124px;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
} 

.design_structure img {
  width: 319px;
  margin-top: 25px; 
}  

.design_structure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#text-H{
  color: #17394F;
  font-family: 'Serif';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: 34.2px;
  text-align: center;
  }
  
  #text-P{
  color: #17394F;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  }

.btn {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 16px;
  padding: 20px;
  margin-top: 48px;
  background-color: #265E84;
  border-radius: 15px;
  text-decoration: none;
}

.A {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.A img {
  width: 343px;
  height: 207.4px;
  margin-top: 58px;
  margin-left: 14px;
}


.Things{
  display: grid;
  grid-template-columns:3fr;
  gap: 50px;
  margin: 50px 0px 0px 0px;
  text-align: center;
 }


.Things h2{
  color: #17394F;
  font-family: 'Serif';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 38.6px;
  padding-bottom: 12px;
  }
  
  .Things p{
  color: #17394F;
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  }

.button {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: inline-block;
  align-items: center;
  width: 121px;
  height: 19px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #265E84;
  border-radius: 15px;
  text-decoration: none; 
}

.text-H{
  line-height: 24px;
  align-items: center;
  height: 400px;
  padding-top: 80px;
  margin-left: 1735px;
}

.text-P{
  line-height: 24px;
  align-items: center;
  height: 400px;
  margin-top: 205px;
  margin-left: 1735px;
}

.co {
  align-self: center;
}

#Co {
  font-family: 'Serif';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 47px;
  text-align: center;
  margin-top: 71px;
  color: #17394F;
  width: 327px;
  display: flex;
  align-self: center;
}

.community{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.spacing {
  display: block;
}
 
.com-box {
  width: 350px;
  height: 299px;
  background-color: #FEFBF3;
  display: flex;
  position: relative;
}
.com-box img {
  height: 223.49px;
  width: 340px;
  position: absolute;
  left: 25px;
  top: 33px;
  margin: 0px;
}
.core {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 0px;
} 

.core h3 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Serif';
  color: #17394F;
  line-height: 44px;
  text-align: center;
}

.core p {
  color: #17394F;
  Font-family: 'Nunito';
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
 .com-box1{
  flex-direction: column;
  text-align: center;
}

.com-box2{
  flex-direction: column;
  text-align: center;
  padding-top: 102px;
}
.com-box3{
  flex-direction: column;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 60px;
} 

.FAQ {
  width: 100%;
  background-color: #FFFFFF;
}

.B{
  color: #17394F;
  font-family: 'Serif';
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.Span__co {
  display: flex;
  flex-direction: column;
  margin: 20px;
}


.waitlist {
  height: 250px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  background-color: #FEFBF3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 18px;
  border-top-left-radius: 4px;  
  border-bottom-left-radius: 48px;
  border: 2.5px solid #265E84;
  color: #17394F;
}

.waitlist_h2{
  font-family: 'Serif';
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 33.6px;
  margin-top: 57px;
}

.waitlist_p{
  font-family: 'Nunito';
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: center;
  width: 237px;
  margin-bottom: 40px;
}

.R-button {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 16px;
  padding: 20px;
  background-color: #265E84;
  border-radius: 15px;
  text-decoration: none;
  margin: 0;
}


footer img {
  align-items: center;
  width: 94px;
  height: 36px;
  width: 94px;
  margin-top: 80px;
} 

footer p{
font-family: 'Nunito';
font-size: 16px;
font-weight: normal;
line-height: 24px;
color: #17394F;
margin-bottom: 73px;
}
}